<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kiatsukei.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60F4EA4E1E73D136006473D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60F4EA621E73D136006473D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60F4EA6D1E73D136006473D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
